# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Vim
*.swp
*.un~
*.bak

# Dono's BS
VBoy/*
gb-disasm/*
extras/*
Roms/*

# Visual Studio BS
*.psess
*.vspx

